In [1]:
# ---------------------------------------------GENERAL-----------------------------------------
import pandas as pd
pd.options.mode.chained_assignment = None
import matplotlib.pyplot as plt
import json
import csv
import requests
import numpy as np
import pandas as pd
import dateutil.parser
from matplotlib import pyplot as plt
from datetime import datetime, timedelta
from dateutil.tz import tz
import os
import pickle
import io
import uuid

In [2]:
def download_KASTOM_data(node):
    
    # download KASTOM data
    years = [2022]
    months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
    df_list = []
    for year in years:
        for month in months:
            if month == 12:
                #print(year, month, 1)
                url1 = f'http://kastom.dotsoft.gr/data?start_date={year}/{month}/1&end_date={year + 1}/{1}/1&dev_id={node}'
                df_data1 = pd.DataFrame(requests.get(url1).json())
                df_list.append(df_data1)
            else:
                #print(year, month, month + 1)
                url1 = f'http://kastom.dotsoft.gr/data?start_date={year}/{month}/1&end_date={year}/{month + 1}/1&dev_id={node}'
                df_data1 = pd.DataFrame(requests.get(url1).json())
                df_list.append(df_data1)
    
    df = pd.concat(df_list)
    df.index = [i for i in range(len(df))]
    return df
    
def convert_GAS_sensors(df, nkastom):
    
    # depended on the sensors, provided by westsea
    metadata = pd.DataFrame()
    metadata['Node_Id'] = [i for i in range(1,26)]
    metadata['WE_NO2_elc0'] = [222,230,220,229,224,215,234,216,225,221,221,233,225,237,221,225,221,228,228,232,233,221,226,227,221]
    metadata['WE_NO2_O'] = [203,218,212,215,202,196,221,188,214,191,208,224,204,218,204,215,206,210,206,218,228,216,210,222,207]
    metadata['AE_NO2_elc0'] = [222,225,229,228,227,231,220,222,227,225,232,220,228,227,226,229,225,231,221,230,222,225,212,228,235]
    metadata['AE_NO2_O'] = [216,221,226,220,214,225,214,208,224,208,226,218,222,223,217,224,217,225,209,221,223,223,205,228,229]
    metadata['NO2_sens'] = [285,264,258,254,256,285,277,246,245,245,272,274,270,276,264,250,284,292,250,265,281,270,256,266,266]
    metadata['NO2_sens'] = metadata['NO2_sens'] /1000
    metadata['WE_OX_elc0'] = [227,234,222,233,231,230,221,228,225,220,232,238,221,218,233,217,228,224,234,222,222,226,231,216,221]
    metadata['AE_OX_elc0'] = [240,238,229,222,321,221,238,223,227,231,220, 223, 229,224,225,222,234,232,232,226,230,231,222,217,231]
    metadata['NO2_sens_OX'] = [416, 435,444,459,341,408,445,454,408,418,405,501,468,449,394,480,434,455,377,457,429,422,450,395,474]
    metadata['OX_sens'] = [300,326,327,350,381,325,326,308,304,343,325,357,334,317,318,334,334,319,276,333,347,343,324,315,328]
    metadata['OX_sens'] = metadata['OX_sens'] /1000
    metadata['NO2_sens_OX'] = metadata['NO2_sens_OX'] /1000
    
    def mv2ppb(idNo,T,WE_NO2,AE_NO2,WE_OX,AE_OX):
        this_data = metadata.iloc[idNo-1,:]
        nt1 = []
        kt = []

        for i in range(len(T)):
            if T[i] <= 30:
                kt.append(1)
            elif T[i]> 30 and T[i]<=40:
                kt.append(0.4)
            elif T[i]> 40 and T[i]<=50:
                kt.append(-0.1)
            else:
                kt.append(-4)
        for i in range(len(T)):
            if T[i] <= -20:
                nt1.append(0.9)
            elif T[i]> -10 and T[i]<=0:
                nt1.append(1.0)
            elif T[i]> 0 and T[i]<=10:
                nt1.append(1.3)
            elif T[i]> 10 and T[i]<=20:
                nt1.append(1.5)
            elif T[i]> 20 and T[i]<=30:
                nt1.append(1.7)
            elif T[i]> 30 and T[i]<=40:
                nt1.append(2)
            elif T[i]> 40 and T[i]<=50:
                nt1.append(2.5)
            else:
                nt1.append(3.7)  
        no2 = (WE_NO2 - this_data['WE_NO2_elc0'] - (this_data['WE_NO2_O'] - this_data['WE_NO2_elc0'] - this_data['AE_NO2_O'] + this_data['AE_NO2_elc0']) -  kt * (AE_NO2 - this_data['AE_NO2_elc0'])) / this_data['NO2_sens']
        no2_mv = no2*this_data['NO2_sens_OX']
        no2o3_mv = WE_OX - this_data['WE_OX_elc0'] - nt1*(AE_OX - this_data['AE_OX_elc0'])
        o3_mv = no2o3_mv - no2_mv
        o3 = o3_mv/this_data['OX_sens']

        return no2, o3, no2 + o3
    
    def O3_to_ug(ppb,T,P):
        ug = (ppb * 48 * 273 * P) / (22.4136 * (273 +T) * 1013)
        return ug

    def CO_to_ug(ppb,T,P):
        ug = (ppb * 28.01 * 273 * P) / (22.4136 * (273 +T) * 1013)
        return ug

    def NO2_to_ug(ppb,T,P):
        ug = (ppb * 46.005 * 273 * P) / (22.4136 * (273 +T) * 1013)
        return ug
    
    if nkastom <= 25:
        # keep the columns of interest
        use_data = df[['time', 'no2_aemv', 'no2_wemv', 'ox_aemv', 'ox_wemv', 
                   'temperature', 'humidity', 'pressure',
                   'pm_10','pm_2_5','pm_1_0', 'co']]
        # convert mV to ppb
        no2, o3, no2pluso3 = mv2ppb(nkastom, use_data['temperature'],use_data['no2_wemv'],use_data['no2_aemv'],use_data['ox_wemv'],use_data['ox_aemv'])

        # convert ppb to ug/m3
        o3 = O3_to_ug(o3, use_data['temperature'], use_data['pressure'])
        no2 = NO2_to_ug(no2, use_data['temperature'], use_data['pressure'])
        co = CO_to_ug(use_data['co'], use_data['temperature'], use_data['pressure'])

        use_data['o3_ug/m3'] = o3
        use_data['no2_ug/m3'] = no2
        use_data['no2pluso3_ug/m3'] = no2 + o3
        use_data['co'] = co
    else:
        # keep the columns of interest
        use_data = df[['time', 'temperature', 'humidity', 'pressure', 'pm_10','pm_2_5','pm_1_0']]
    
    # use_data.to_csv(f'~/venv/KASTOM_data/{node}_v4.csv')
    return use_data

def avg_data(df_data):
    
    df_data = df_data.replace(-1, np.nan)

    # reverse time from string to datetime object
    times = [datetime.strptime(time[:-5], '%Y-%m-%dT%H:%M:%S') for time in df_data['time']]

    # define dataframe index equal to the timestamp
    df_data.index = pd.DatetimeIndex(times)
    df_data = df_data.sort_index()

    types = df_data.dtypes
    to_drop = []
    for i, ty in enumerate(types):
        if ty != np.float64 and ty != np.int64:
            to_drop.append(types.index[i])
    new_df = df_data.drop(to_drop, axis=1)

    averaged = {}
    for col in new_df.columns:

        hours = list(new_df.index.hour)
        temp = new_df[col][0]

        new_series = []
        new_times = []
        to_be = [new_df[col][0]]

        for i in range(1, len(df_data)):
            
            if hours[i] == hours[i-1]:
                to_be.append(new_df[col][i])
            else:
                aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
                # aggregation = aggregation[(aggregation < aggregation.quantile(.95)) & (aggregation > aggregation.quantile(.05))]
                new_series.append(aggregation.median())
                new_times.append(datetime(df_data.index[i].year, # i - 1
                                          df_data.index[i].month, 
                                          df_data.index[i].day, 
                                          hours[i], 0, 0))

                to_be = []


        T = pd.Series(new_series)
        T.index = pd.DatetimeIndex(new_times)
        T = T.sort_index()

        averaged[col] = T

    return pd.DataFrame(averaged)

'''
nkastom18 is the id for the MENG AUTH TARATSA node.
my suggestion is to just run this script whenever you need to download new data. 
This script will return the data from the start of 2022 untill the date that data are available. (runs in < 5 minutes)
data3 is the dataframe you want.

'''
data = download_KASTOM_data('nkastom18')
data2 = convert_GAS_sensors(data, 18)
data3 = avg_data(data2)
data3

<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)
<ipython-input-2-516101bd4c94>:150: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  aggregation = pd.Series(to_be)#.sample(frac=0.1, replace=True, random_state=1)

,no2_aemv,no2_wemv,ox_aemv,ox_wemv,temperature,humidity,pressure,pm_10,pm_2_5,pm_1_0,co,o3_ug/m3,no2_ug/m3,no2pluso3_ug/m3
2022-01-17 09:00:00,227.0,223.5,231.0,224.0,20.513470,32.414904,1016.540010,12.0,7.0,3.0,584.501867,-96.731783,72.120925,-24.568942
2022-02-01 11:00:00,228.0,224.0,232.0,226.0,22.363058,33.191624,1016.372100,17.0,10.0,4.0,673.324331,-94.324773,71.755041,-22.569732
2022-02-01 12:00:00,222.0,216.0,229.0,222.0,25.889729,31.165825,1001.121340,22.0,13.0,5.0,2114.952545,-66.204167,57.109916,-9.093132
2022-02-01 13:00:00,223.0,218.0,230.0,224.0,25.509169,31.816189,1000.761500,29.0,18.0,7.0,1996.433022,-73.893000,63.506762,-10.381920
2022-02-01 14:00:00,224.0,220.0,230.0,224.0,25.432499,32.452880,1000.718750,34.0,21.0,9.0,2001.098624,-83.344783,69.862322,-13.482462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18 09:00:00,222.5,216.5,227.5,237.5,31.276804,28.524401,1015.405850,31.5,19.5,8.5,254.333002,92.853571,24.628855,115.588738
2022-07-18 10:00:00,223.0,221.0,228.0,243.0,30.810001,30.328910,1015.490970,33.0,21.0,9.0,247.708421,92.075577,48.079446,144.008291
2022-07-18 11:00:00,223.0,224.0,228.0,246.0,31.245832,32.889160,1015.249900,40.0,25.0,11.0,312.154855,78.117038,70.737938,149.637630
2022-07-18 12:00:00,222.0,226.0,227.5,248.5,30.999862,36.429810,1014.788965,42.0,26.0,11.0,406.415075,73.992708,84.620192,163.634192
2022-07-18 13:00:00,224.0,226.0,229.0,249.0,31.500832,37.765842,1014.574650,49.0,31.0,13.0,398.439250,66.613836,80.807711,147.373661