In [71]:
import pandas as pd
import numpy as np

In [72]:
files = 4
df = pd.concat(pd.read_csv(f'{file+1}.csv', delimiter=';', parse_dates=[1], dayfirst=True, index_col=1).drop(columns='From') for file in range(files))

In [73]:
df.columns = ['PM1 (ug/m3)', 'PM2.5 (ug/m3)', 'PM10 (ug/m3)']
df.rename_axis('Datetime')

                     PM1 (ug/m3)  PM2.5 (ug/m3)  PM10 (ug/m3)
Datetime
2022-04-10 01:00:00          9.0           12.0          14.0
2022-04-10 02:00:00          8.0           11.0          12.0
2022-04-10 03:00:00          8.0           11.0          12.0
2022-04-10 04:00:00          6.0            8.0           9.0
2022-04-10 05:00:00          4.0            6.0           7.0
...                          ...            ...           ...
2022-08-12 20:00:00          7.0            9.0          15.0
2022-08-12 21:00:00          8.0           10.0          16.0
2022-08-12 22:00:00          9.0           11.0          18.0
2022-08-12 23:00:00         11.0           13.0          21.0
2022-08-13 00:00:00         11.0           13.0          21.0

[2928 rows x 3 columns]

In [74]:
print('Negatives: \n',(df<0).sum())
print('NaN: \n', df.isna().sum())

Negatives:
 PM1 (ug/m3)      0
PM2.5 (ug/m3)    0
PM10 (ug/m3)     0
dtype: int64
NaN:
 PM1 (ug/m3)      2
PM2.5 (ug/m3)    2
PM10 (ug/m3)     2
dtype: int64

In [75]:
df_filled = df.interpolate()

In [76]:
print('NaN: \n', df_filled.isna().sum())

NaN:
 PM1 (ug/m3)      0
PM2.5 (ug/m3)    0
PM10 (ug/m3)     0
dtype: int64

In [77]:
df.to_csv('airly_filled.csv')