In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt

In [2]:
df_raw = pd.read_csv('KASTOM2022.csv', parse_dates=[0], index_col=0)
df_raw = df_raw.loc['2022-04-10':]
df = df_raw[['temperature', 'humidity','pm_10', 'pm_2_5', 'pm_1_0', 'no2_ppb','co_μg/m3']]
df.head()

,temperature,humidity,pm_10,pm_2_5,pm_1_0,no2_ppb,co_μg/m3
2022-04-10 00:00:00,18.319445,58.775906,39.0,23.0,10.0,61.643836,928.825426
2022-04-10 01:00:00,16.796666,60.042263,33.5,20.0,9.0,58.219178,492.107725
2022-04-10 02:00:00,16.099165,58.674423,22.0,13.0,5.0,58.219178,373.181020
2022-04-10 03:00:00,16.631113,56.946793,30.5,19.0,8.0,61.643836,480.097582
2022-04-10 04:00:00,17.069166,54.335857,29.0,18.0,7.0,58.219178,464.874864

In [3]:
df.columns = ['Temp (C)', 'Humidity (%)', 'PM10 (ug/m3)', 'PM2.5 (ug/m3)', 'PM1 (ug/m3)', 'NO2 (ppb)', 'CO (μg/m3 10²)']
df.loc[:,'CO (μg/m3 10²)'] = df['CO (μg/m3 10²)'] /10
df.head()

C:\Users\Panos\anaconda3\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

,Temp (C),Humidity (%),PM10 (ug/m3),PM2.5 (ug/m3),PM1 (ug/m3),NO2 (ppb),CO (μg/m3 10²)
2022-04-10 00:00:00,18.319445,58.775906,39.0,23.0,10.0,61.643836,92.882543
2022-04-10 01:00:00,16.796666,60.042263,33.5,20.0,9.0,58.219178,49.210772
2022-04-10 02:00:00,16.099165,58.674423,22.0,13.0,5.0,58.219178,37.318102
2022-04-10 03:00:00,16.631113,56.946793,30.5,19.0,8.0,61.643836,48.009758
2022-04-10 04:00:00,17.069166,54.335857,29.0,18.0,7.0,58.219178,46.487486

In [4]:
print(df.isna().sum())
print((df<0).sum())

Temp (C)          0
Humidity (%)      0
PM10 (ug/m3)      0
PM2.5 (ug/m3)     0
PM1 (ug/m3)       0
NO2 (ppb)         0
CO (μg/m3 10²)    0
dtype: int64
Temp (C)           0
Humidity (%)       0
PM10 (ug/m3)       0
PM2.5 (ug/m3)      0
PM1 (ug/m3)        0
NO2 (ppb)         39
CO (μg/m3 10²)     0
dtype: int64

In [5]:
df[df<0] = np.nan
print(df.isna().sum())
print((df<0).sum())

Temp (C)           0
Humidity (%)       0
PM10 (ug/m3)       0
PM2.5 (ug/m3)      0
PM1 (ug/m3)        0
NO2 (ppb)         39
CO (μg/m3 10²)     0
dtype: int64
Temp (C)          0
Humidity (%)      0
PM10 (ug/m3)      0
PM2.5 (ug/m3)     0
PM1 (ug/m3)       0
NO2 (ppb)         0
CO (μg/m3 10²)    0
dtype: int64

<ipython-input-5-5e3cfb9f88fd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df<0] = np.nan
C:\Users\Panos\anaconda3\lib\site-packages\pandas\core\frame.py:3215: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(-key, value, inplace=True)

In [6]:
imputer = KNNImputer(n_neighbors=5, weights='distance')
df[:]= imputer.fit_transform(df).round(2)
df.isna().sum()

<ipython-input-6-7d234b1c24d1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[:]= imputer.fit_transform(df).round(2)
C:\Users\Panos\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\Panos\anaconda3\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

Temp (C)          0
Humidity (%)      0
PM10 (ug/m3)      0
PM2.5 (ug/m3)     0
PM1 (ug/m3)       0
NO2 (ppb)         0
CO (μg/m3 10²)    0
dtype: int64

In [7]:
df

,Temp (C),Humidity (%),PM10 (ug/m3),PM2.5 (ug/m3),PM1 (ug/m3),NO2 (ppb),CO (μg/m3 10²)
2022-04-10 00:00:00,18.32,58.78,39.0,23.0,10.0,61.64,92.88
2022-04-10 01:00:00,16.80,60.04,33.5,20.0,9.0,58.22,49.21
2022-04-10 02:00:00,16.10,58.67,22.0,13.0,5.0,58.22,37.32
2022-04-10 03:00:00,16.63,56.95,30.5,19.0,8.0,61.64,48.01
2022-04-10 04:00:00,17.07,54.34,29.0,18.0,7.0,58.22,46.49
...,...,...,...,...,...,...,...
2022-09-26 03:00:00,18.13,71.61,107.0,66.5,31.5,59.93,39.58
2022-09-26 04:00:00,17.47,72.04,147.0,92.0,44.0,68.49,54.37
2022-09-26 05:00:00,18.01,67.66,96.0,61.0,27.0,68.49,91.72
2022-09-26 06:00:00,19.14,70.23,137.0,87.0,39.0,68.49,102.03
2022-09-26 07:00:00,22.18,58.28,83.0,51.0,22.0,54.79,64.74

In [8]:
kastom_co_no2 = df_raw.iloc[:,[-1,-3]]
kastom_co_no2.columns = ['co_μg/m3 (Kastom)', 'NO2_ppb (Kastom)']
kastom_co_no2.to_csv('co.csv')

In [9]:
df.to_csv('kastom_filled.csv')

In [10]:
df.isna().sum()

Temp (C)          0
Humidity (%)      0
PM10 (ug/m3)      0
PM2.5 (ug/m3)     0
PM1 (ug/m3)       0
NO2 (ppb)         0
CO (μg/m3 10²)    0
dtype: int64